* {
	margin:0px;
	padding:0px;
}
@font-face {
 font-family: 'OpenSans-Bold';
 src:url('../fonts/OpenSans-Bold.eot');
 src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
}
@font-face {
 font-family: 'OpenSans-BoldItalic';
 src:url('../fonts/OpenSans-BoldItalic.eot');
 src:url('../fonts/OpenSans-BoldItalic?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
}
@font-face {
 font-family: 'OpenSans-ExtraBold';
 src:url('../fonts/OpenSans-ExtraBold.eot');
 src:url('../fonts/OpenSans-ExtraBold?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
}
@font-face {
 font-family: 'OpenSans-ExtraBoldItalic';
 src:url('../fonts/OpenSans-ExtraBoldItalic.eot');
 src:url('../fonts/OpenSans-ExtraBoldItalic?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
}
@font-face {
 font-family: 'OpenSans-Italic';
 src:url('../fonts/OpenSans-Italic.eot');
 src:url('../fonts/OpenSans-Italic?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.ttf') format('truetype'), url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
}
@font-face {
 font-family: 'OpenSans-Light';
 src:url('../fonts/OpenSans-Light.eot');
 src:url('../fonts/OpenSans-Light?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
}
@font-face {
 font-family: 'OpenSans-LightItalic';
 src:url('../fonts/OpenSans-LightItalic.eot');
 src:url('../fonts/OpenSans-LightItalic?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
}
@font-face {
 font-family: 'OpenSans-Regular';
 src:url('../fonts/OpenSans-Regular.eot');
 src:url('../fonts/OpenSans-Regular?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}
@font-face {
 font-family: 'OpenSans-Semibold';
 src:url('../fonts/OpenSans-Semibold.eot');
 src:url('../fonts/OpenSans-Semibold?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
}
@font-face {
 font-family: 'OpenSans-SemiboldItalic';
 src:url('../fonts/OpenSans-SemiboldItalic.eot');
 src:url('../fonts/OpenSans-SemiboldItalic?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../fonts/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
}
body {
	font-family:OpenSans-Light;
	background:#eaeaea !important;
}
/*.col8-custam{width: 61%;}*/
.main-fullcontened {
	width:100%;
	margin:0 auto;
}
a:active, a:hover {
	outline:none;
}
a:focus {
	outline:none;
	outline-offset:0px;
}
.top-background {
	background:#58595d;
}
.logo-images {
	padding-top:10px;
}
.search-icon {
	left: 208px;
	position: absolute;
	top: 11px;
}
.backgray {
	background:#b4babf;
}
.footer-back {
	background:#04172c;
}
.join-txt {
	float:left;
	vertical-align:middle;
	margin-top:10px;
}
.input-main {
	width:344px !important;
	height:36px;
	border-radius:0px !important;
	font-size:16px;
	font-family:'OpenSans-Light';
}
.button-main {
	border-radius:0px !important;
	height:36px !important;
	width:80px !important;
	margin-left:-5px !important;
}
.footer-padding {
	padding-top:27px;
	padding-bottom:27px;
}
.gray-color {
	background:url(../img/background-img.png) repeat;
	width:100%;
}
.first-navi {
	float:left;
}
.second-navi {
	float:right;
	margin-left:32px;
}
.top-search {
	width:243px !important;
	height:31px !important;
	color:#58595d;
	font-size:15.46px;
	font-family:OpenSans-Light;
	float:left;
}
.hello-txt {
	color:#FFF;
	font-size:17px;
	font-family:OpenSans-Light;
	padding-left:18px;
}
.hello-txt > span {
	color:#02afef;
	font-size:18px;
	font-family:OpenSans-Light;
	padding-right:12px;
	margin-left:8px;
}
.img-right {
	margin-top:3px;
}
.Freqs-txt {
	color:#FFF;
	font-size:20.72px;
	font-family:OpenSans-Light;
	font-weight:bold;
}
.first-navi > ul {
	margin-top:26px;
}
.first-navi > ul > li {
	text-decoration:none;
	list-style:none;
	line-height:24px;
}
.first-navi > ul > li >a {
	color:#FFF;
	font-size:15px;
	text-decoration:none;
	font-family:OpenSans-Light;
	margin-left:9px;
}
.second-navi> ul {
	margin-top:26px;
}
.second-navi > ul > li {
	text-decoration:none;
	list-style:none;
	line-height:24px;
}
.second-navi > ul > li >a {
	color:#FFF;
	font-size:15px;
	text-decoration:none;
	font-family:OpenSans-Light;
	margin-left:9px;
}
.img-nav {
	vertical-align:middle;
}
.contact-txt {
	color:#FFF;
	padding-bottom:21px;
	font-size:20.72px;
	font-weight:bold;
}
.phone-icon {
	float:left;
	vertical-align:middle;
	display:block;
	padding-right:27px;
}
.cell-txt > p {
	color:#FFF;
}
.follow-txt {
	float:left;
	color:#FFF;
	font-size:20.7px;
	padding-right:13px;
}
.cell-txt > span > a+a {
	margin-left:6px;
}
.phone-txt {
	margin-left:27px;
	display:block;
}
.pro-txt {
	color:#00aeef;
}
.jar-txt {
	position:absolute;
	bottom: 157px;
}
.cell-txt > p > span > a {
	color:#00aeef;
	font-weight:bold;
	text-decoration:none;
}
.middel-contened {
	float:left;
	margin-left:55px;
	margin-top:20px;
}
.contact-contened {
	margin-top:28px;
	padding-bottom:56px;
}
.about-txt > p {
	margin-top:29px;
}
.about-txt {
	margin-top:23px;
}
.contact-contened > div {
	padding-bottom: 24px;
}
.form-my {
	float:none;
}
.copyright-txt {
	padding-top:19px;
	padding-bottom:28px;
	text-align:center;
	color:#FFF;
	font-size:16.11px;
	font-family:centuryGothic;
	text-transform:capitalize;
}
.form-main {
	margin:0 auto;
}
.navbar-form {
	box-shadow: none;
}
.left-padding {
	padding-left:0px;
}
.right-padding {
	padding-right:0px;
}
.both-padding {
	padding:0px;
}
.music-mackerIMG {
	position:relative;
	background:#011527;
	width:100%;
}
.music-backTXT {
	background:url(../img/left-topicon.png) no-repeat;
	background-position:left top;
	margin-top:72px;
}
.music-backTXT > h1 {
	padding-left: 42px;
	padding-top: 17px;
}
.background-right {
	background:url(../img/right-topicon.png) no-repeat;
	background-position:top right;
}
.background-right > h1 {
	font-size:38.85px;
	padding-left:86px;
}
.background-right > p {
	text-align:right;
	font-size:13.64px;
}
.music-maker-txt > p {
	margin-left:37px;
	text-align:justify;
}
.music-maker-fullcontened {
	bottom: 81px;
	margin-left: 19px;
	position: absolute;
}
.music-maker-txt > p > b {
	font-family:OpenSans-Semibold;
	font-weight:normal;
}
.music-maker-txt > p > span {
	background:none;
	color:#02afef;
	text-transform:uppercase;
}
.music-maker-txt > p > span+span {
	font-size:23px;
	color:#eaeaea;
	background:#02afef;
	padding-left:4px;
	padding-right:4px;
}
.music-maker-txt > p+p+p > span {
	font-size:23px;
	color:#eaeaea;
	background:#02afef;
	padding-left:4px;
	padding-right:4px;
}
.backgray_p {
	padding-top:39px;
	padding-bottom:40px;
	text-align:center;
}
.about_us_img {
	position:relative;
}
.about_margin {
	position:absolute;
	bottom: 173px;
}
.about_margin > .col-md-6 > p > b {
	font-family:OpenSans-Semibold;
	font-weight:normal;
}
.about_margin > .col-md-6 > p+p > b {
	font-family:OpenSans-Semibold;
	font-weight:normal;
}
.about_margin > .col-md-6 > p+p+p > b {
	font-family:OpenSans-Semibold;
	font-weight:normal;
}
/*get started first block start*/
.getstarted_first {
	position:relative;
	background:#674b3e;
}
.getstart_block {
	position:absolute;
	bottom: 103px;
}
.getstartcontened > p {
	text-align:justify;
}
/*get started first block end*/


/*SoSpecial_first start*/
.SoSpecial_first {
	position:relative;
}
.freq_topmargin {
	bottom: 124px;
	position: absolute;
}
/*SoSpecial_first end*/

/*SoSpecial_second start*/
.MakeSpecial2_contened {
	margin-left:0px;
}
.makingSpecial_margin {
	position:absolute;
	bottom:154px;
}
.MakeSpecial2_contened > h2 > span {
	font-size:24.91px;
}
.make_black > span {
	color:#04172c !important;
}
.special_nav {
	float:left;
	margin-top:24px;
}
.special_nav > img {
	float:left;
	padding-right:14px;
	vertical-align:middle;
}
.special_nav > span {
	color:#eaeaea;
	font-size:18.2px;
	font-weight:normal;
	font-family:OpenSans-Light;
	float: left;
	width: 77%;
	text-align:justify;
	margin-top:6px;
	line-height:20px;
}
.special_nav > span > b {
	font-family:OpenSans-Semibold;
	font-weight:normal;
}
/*SoSpecial_second end*/

/*join us now start*/
.sky_color {
	background:#02afef;
	color:#eaeaea;
	font-family:OpenSans-Light;
	font-weight:normal;
}
.sky_color > .container > .row > .col-md-12 > div {
	margin: 0 auto;
	text-align: center;
	width: 81%;
}
.sky_color > .container > .row > .col-md-12 > div > h6 {
	margin-top:0px !important;
	padding-top:64px;
}
.sky_color > .container > .row > .col-md-12 > div > p {
	font-size:18.02px;
}
.sky_color > .container > .row > .col-md-12 > div > h1 {
	font-size:68.64px;
	padding-bottom:50px;
	margin-bottom:0px;
}
/*join us end*/


/*what making so special start*/
.whatMakingSpecial_contened {
	position:relative;
}
/*what making so special end*/

/*becomeAnArtist_contened start*/
.becomeAnArtist_contened {
	position:relative;
}
.becomeAnArtist_contened > .container {
	position:absolute;
	bottom:230px;
}
.width_contened {
	padding-top:203px;
}
.width_contened > p {
	width:73%;
}
.become_left {
	margin-left:142px;
}
/*becomeAnArtist_contened end*/


/* Wanna Go Start*/
.wannaGo_contened {
	position:relative;
	background:#001525;
}
.wannaGo_txt {
	font-family:OpenSans-Light;
	position:absolute;
	bottom:260px;
	text-align:center;
	font-family:OpenSans-Light;
	font-weight:normal;
}
.wannaGo_txt > p {
	color: #04172c;
	font-size: 18.2px;
	margin: 0 auto;
	width: 61%;
}
.wannaGo_txt > .join_txt {
	background: none repeat scroll 0 0 #02afef;
	color: #ffffff;
	margin: 5px auto 0;
	padding: 5px;
	width: 12%;
}
/*Wanna Go end*/


/*Faq Studio Start*/
.FaqStudio_contened {
	position:relative;
}
.frqsStudio_txt > p > span {
	font-size:22px;
	color:#eaeaea;
	background:#02afef;
	padding-left: 6px;
	padding-right: 6px;
}
.frqsStudio_txt > p > span+span {
	background:#02afef;
	font-size:27px;
}
/*Faq Studio end*/

/*start tip jar*/
.tip_jar {
	text-align: justify;
	position:relative;
}
.jar-txt > p {
	width: 47%;
}
.making_full > p {
	width:60%;
}
.top_making {
	bottom: 189px;
	left: 155px;
	position: absolute;
}
/*about us page end*/



/*profile full start*/
.profile_banner {
	margin-top:20px;
}
.fly-bird {
	margin-top:3px;
	border:#a9a9a9 1px solid;
	border-radius:5px;
	background:#ffffff;
}
.border-broun {
	height:30px;
	width:85.2%;
}
.fly-birs-navone {
	float:left;
}
.fly-birs-navone > ul {
	margin-left:15px;
	margin-top: 7px;
}
.fly-birs-navone > ul > li {
	list-style:none;
	font-size:18.7px;
	color:#45649b;
}
.fly-birs-navone > ul > li+li {
	color:#45649b;
	font-family:OpenSans-Semibold;
}
.fly-birs-navone > ul > li+li+li >span {
	color:#8f9caf;
	font-family:OpenSans-Light;
	font-weight:normal;
	font-size:14.5px;
	margin-left:9px;
}
.fly-birs-navone > ul > li+li+li >span > img {
	margin-left:10px;
}
.fly-birs-navtwo {
	float:right;
}
.fly-birs-navtwo >ul {
	margin-right:15px;
	margin-top: 7px;
}
.fly-birs-navtwo > ul > li {
	list-style:none;
	font-size:17.52px;
	color:#45649b;
}
.fly-birs-navtwo > ul > li >span {
	font-size:29.2px;
}
.share-txt {
	color:#6c7888;
	font-size:14.5px !important;
	margin-left: 3px;
}
.banner_top {
	width:100%;
	border:1px solid #a9a9a9;
	border-radius:5px;
	position:relative;
}
.banner-contened {
	position:absolute;
	text-align:center;
	width:100%;
	margin:0 auto;
	color:#04172c;
	font-size:65px !important;
	z-index: 2147483647;
	bottom:71px;
	width:96%;
}
.banner_nav {
	bottom: 30px;
	left: 728px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	z-index: 999999999;
}
.banner_nav > ul > li {
	float: left;
	list-style: outside none none;
}
.banner_nav > ul > li >span {
	margin-left:14px;
}
.banner_nav > ul > li >img {
	margin-left:14px;
}
.padding-less-first {
	padding-left: 0 !important;
	padding-right: 1px !important;
	margin: 0 auto !important;
	width:33.3% !important;
}
.nullam_txt > p {
	color:#5b686b;
	font-family:OpenSans-Light;
	font-weight:normal;
	margin: 0 auto;
	text-align: center;
	width: 87%;
	padding-top:56px;
	padding-bottom:56px;
}
.bg {
	width:100%;
	margin:0 auto;
}
.share_img {
	padding-left: 1px !important;
	padding-right: 0.3px !important;
	width: 19.9% !important;
}
.sharsArtical_txt {
	padding-top:55px;
	text-align:center;
}
.share_icons {
	width:100%;
	margin:0 auto;
	margin-bottom:103px;
}
.share_icons > ul {
	margin:0 auto;
}
.share_icons >ul >li {
	list-style:none;
	float:left;
}
.share_icons > ul >li > a >img {
	margin-left:10px;
}
/*history waka start*/
.download_icon {
	width:100%;
	margin:0 auto;
	text-align:center;
	margin-top:21px;
}
.download_icon > p {
	color:#04172c;
	font-size:37.32px;
	text-align:center;
	border-bottom:1px solid #b2b2b2;
	padding-bottom:3px;
}
.licence_txt {
	width:50%;
	margin:0 auto;
	color:#04172c;
	font-family:OpenSans-Semibold;
	font-size:16px !important;
	padding-top:16px;
}
.licence_contened {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 68%;
}
.licence_txt >p {
	float:left;
}
.licence_txt >p+p {
	float:right;
}
.name_txtx {
	width:100%;
	margin:0 auto;
	text-align:center;
}
.jonney_contened {
	margin-top:11px;
}
.jonney_nav {
	float:right;
}
.jonneyFirst_name {
	display: flex;
	margin-top:15px;
}
.jonneySecond_name {
	margin-top:15px;
}
.jonneySecond_name > .col-md-6 > span {
	float:left;
	font-size:16px;
	color:#04172c;
	margin-left: 58px;
}
.jonneySecond_name > .col-md-6 > a {
	float:right;
	width:154px !important;
	height:27px !important;
	padding: 1px 16px;
	background-color:#eaeaea !important;
	border-color:#2d2f33;
	box-shadow:none !important;
	color:#2d2f33;
	font-size:17.5px;
}
.jonneySecond_name > .col-md-6 > a+a {
	clear: both;
	float: right;
	margin-top: 14px;
}
.button_margin {
	padding-right:0px !important;
	margin-top:54px;
}
.joinney_margin {
	padding-left:0px !important;
}
.jonneyFirst_name >span > ul {
	margin-top:35px;
}
.jonneyFirst_name >span > ul > li {
	list-style:none;
	text-align:left;
	margin-left:71px;
	color:#45649b;
	font-size:16px;
}
.jonneyFirst_name >span > ul > li+li {
	font-family:OpenSans-Semibold;
}
.jonneyFirst_name >span > ul > li+li+li {
	color:#04172c;
	font-size:15px;
	font-family:OpenSans-Light;
}
.border_last {
	border-bottom: 1px solid hsl(0, 0%, 70%);
	display: inline-block;
	margin-bottom: 83px;
	margin-top: 19px;
	width: 70%;
}
.border_last_top {
	border-bottom: 1px solid hsl(0, 0%, 70%);
	display: inline-block;
	margin-top: 19px;
	width: 70%;
}
/*history waka end*/

/*home waka start*/
.banner_img {
	width:100%;
	position:relative;
}
.banner_txt {
	bottom: 258px;
	left: 230px;
	position: absolute;
}
.banner_txtBlack > p {
	background: none repeat scroll 0 0 hsl(212, 83%, 9%);
	color: hsl(0, 0%, 100%);
	font-family: OpenSans-Light;
	font-size: 40.73px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	float:left;
}
.banner_txtblue > p {
	background: none repeat scroll 0 0 hsl(196, 98%, 47%);
	color: hsl(0, 0%, 100%);
	float: left;
	font-family: OpenSans-Light;
	font-size: 40.73px;
	margin: 0 auto;
	text-align: center;
	width: 70%;
}
#tooltip {
	float:right;
}
.tooltip {
	margin-left: -134px !important;
	position: absolute;
	display: none;
	top: auto;
	z-index: 1;
	width: 182px;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	bottom: auto;
	padding: 6px 16px;
	background-color: #FFF;
	margin-top: 13px;
	-webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.15);
	cursor: default;
}
.tooltip:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: 120px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: white;
	z-index: 1;
	left: 20px;
}
.tooltip:after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: 120px;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: #04172c;
	z-index: 2;
	left: 20px;
}
.tooltip.fade {
	opacity: 1;
}
.tooltip.show {
	display: block;
}
.tooltip.colour {
	color: white;
	background-color: #04172c;
	margin-left: 0px;
	border-radius:5px;
}
.tooltip.colour:before, .tooltip.colour:after {
	border-bottom-color: #04172c;
	border-bottom-color: #04172c;
}
.tooltip.top {
	-webkit-box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.15);
	position: relative;
	position: relative;
	position: absolute;
	bottom: 1.8em;
}
.tooltip.top:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #cccccc;
	z-index: 1;
	left: 40px;
}
.tooltip.top:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-top-color: white;
	z-index: 2;
	left: 40px;
}
.tooltip > ul {
	float:left;
}
.tooltip > ul > li {
	list-style:none;
}
.tooltip > ul > li:nth-child(4) {
border-bottom:1px solid #030f1e;
}
.tooltip > ul > li:nth-child(5) {
border-top:1px solid #8c959e;
}
.tooltip >ul > li:nth-child(6) {
border-bottom:1px solid #030f1e;
}
.tooltip >ul > li:nth-child(7) {
border-top:1px solid #8c959e;
}
.tooltip > ul > li >a {
	text-decoration:none;
	color:#ffffff;
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;
	display: inline-block;
	cursor:pointer;
}
.tooltip > ul > li >a >span {
	padding-left:23px;
	display: inline-block;
}
.open {
	text-align:right;
	
}
#slide-menu {
	margin-right: -250px;
	right: 0;
	
	width: 250px;
	background: #222;
	position: fixed;
	height: 100%;
	
	z-index: 1000;
	font-family: Roboto, sans-serif;
	color: #fff;
	font-weight: 100;
	font-size: 1.5em;
}
.navigation {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li {
	line-height: 0px;
	text-indent: 20px;
}
.navigation li a {
	color: #fff;
	display: block;
	padding: 12px 0; font-size:16px;
	text-decoration: none;
 -webkit-transition: all .3s ease-out;
 -moz-transition: all .3s ease-out;
 -o-transition: all .3s ease-out;
 transition: all .3s ease-out;
}
.navigation li:nth-child(5) >a{ border-bottom:1px solid #8c959e;}
.navigation li:nth-child(7) >a{ border-bottom:1px solid #8c959e;}
.navigation li a >img{ padding-right:36px;}
.navigation li a:hover {
	color: #fff;
	background: hsl(196, 98%, 47%);
	text-decoration: none;
	padding-left: 20px;
}
.navigation li a:active, .navigation li a:focus {
	text-decoration: none
}
.toggle {
	margin: 5px 5px 0 0
}
#slide-menu{ top: 39px; border-top-left-radius: 5px;}

/*home waka end */

 @media screen and (max-width: 1920px) {
 .container {
 max-width: 1635px !important;
 width:100% !important;
 padding:0px !important;
}

 #cssmenu > ul > li > a {
padding: 15px 19px !important;
}
 .search-icon {
left: 287px !important;
}
 #cssmenu {
margin-left: 12px !important;
}
 .co4-width {
width:32% !important;
}
.input-main {
 width:344px !important;
 height:36px !important;
 border-radius:0px !important;
 font-size:16px !important;
 font-family:'OpenSans-Light';
}
.share_icons {
 margin-top: 7px;
 width: 29%;
}
.jonneyFirst_name > span > ul > li {
margin-left: 157px;
}
.jonneySecond_name > .col-md-6 > span {
margin-left: 117px;
}
.show_contened{ display:block !important;}
.hide_contened{ display:none !important;}
#push{ display:none;}
#slide-menu{ display:none;}
}
 @media screen and (max-width:1366px) {
.container {
max-width: 1170px !important;
 padding-right: 1 !important;
 margin-right: auto !important;
 margin-left: auto !important;
}
.search-icon1 {
  left: 285px !important;
    position: absolute;
    top: 12px;
}
#tooltip {
 float: none;
}
#cssmenu {
margin-left: 0 !important;
}
#cssmenu {
margin-left:0px;
}/*remove margin for menu responsive*/
#cssmenu > ul > li {
float:none !important;
}
#cssmenu > ul {
text-align:left;
 width: 100%;
}/*center menu for menu responsive*/
.col7-custome {
padding-left:0px !important;
 display: block;
    float: left;
    width: 100% !important;
}/*hide padding for menu responsive*/
.top-search {
 height: 31px !important;
 width: 243px !important;
font-size:15.43px;
float:none;
padding:0px;
}
.hello-txt {
padding-left: 16px;
font-size:18px;
}
.hello-txt > span {
font-size: 18px;
margin-left: 6px;
 padding-right: 11px;
}
.img-right {
  border: 2px solid hsl(0, 0%, 100%);
    border-radius: 21px;
    display: inline-block;
    margin-top: 0;
    width: 6%;
}
.main_contact {
width: 70% !important;
}
.join-txt {
font-size:19px;
}
.input-main {
font-size:12px;
width:219px !important;
height:32px;
}
.button-main {
width:51px;
height:32px;
}
 .Freqs-txt {
font-size:19px;
}
.contact-txt {
font-size:19px;
}
.follow-txt {
font-size:19px;
}
.copyright-txt {
font-size: 14.11px;
}
 .navbar-right {
display: block;
 margin: 0 auto;
}
.footer-padding {
padding-bottom: 18px;
 padding-top: 18px;
}
.copyright-txt {
padding-bottom: 17px;
 padding-top: 5px;
}
 .second-navi > ul > li > a {
font-size:14px;
}
 .music-maker-fullcontened {
margin-left: 19px;
}
.music-maker-txt > p {
font-size: 16px;
 margin-left: 21px;
}
.music-backTXT > h1 {
font-size:24.85px;
padding-left: 29px;
 padding-top: 7px;
}
.background-right > h1 {
font-size:24.85px;
padding-left:0px;
margin:0px;
}
.background-right {
background:url(../img/right-topicon_responsive.png) no-repeat scroll right top rgba(0, 0, 0, 0);
}
.music-backTXT {
background:url(../img/left-topicon_responsive.png) no-repeat scroll left top rgba(0, 0, 0, 0);
}
.music-maker-txt p+p {
display:none;
}
.music-mackerIMG {
}
.about_margin > div > p+p {
display:none;
}
.about_margin > div >h2 {
margin-top:0px;
}
.about_us_img {
}
h5 {
 font-size: 19.91px !important;
}
h2 {
font-size:36px !important;
}
h4 {
font-size:36px !important;
}
p {
font-size:15px !important;
}
.getstartcontened > p {
font-size:14px;
}
.display_roll {
display:none;
}
 .special_nav {
margin-top:0px;
}
.special_nav > span {
font-size: 15.2px;
width: 69%;
}
.top-margin {
padding-top: 1px !important;
}
.whatMakingSpecial_contened {
}
.become_margin > p+p {
display:none;
}
.become_margin {
padding-top: 40px;
}
.MakeSpecial2_contened > h2 > span {
font-size:15px;
}
 .tip_jar {
padding-top:0px;
}
.wana_txt {
font-size:36px !important;
}
 .wannaGo_txt > .join_txt {
width: 16%;
}
.join_txt {
font-size:19px !important;
}
.width_contened > p {
width: 100%;
}
.last_txt {
font-size:12px !important;
}
.about-contetened {
width:100% !important;
}
.middel-contened {
margin-left:0px;
}
.contctus_contened {
float: right !important;
 width: 47% !important;
}
.share_icons {
width:42%;
}
.banner-contened {
bottom: 46px !important;
}
.banner_nav {
 bottom: 18px;
left: 559px;
}
.jonneyFirst_name > span > ul > li {
margin-left:70px;
}
.jonneySecond_name > .col-md-6 > span {
margin-left:60px;
}
.tooltip > ul {
float:left;
}
.tooltip > ul > li {
list-style:none;

}
.col1-custome {display: block;
    float: left; width: 20.333% !important;
}
.co4-width {
    width: 48% !important;  display: block;
    float: right !important;
}
.navbar-right{margin-right: 0 !important;}
.show_contened{ display:none !important;}
.hide_contened{ display:block !important;}

.tooltip.colour{left: 517px;}
#push{ display:none;}
#slide-menu{ display:none;}
}
@media screen and (max-width: 1280px) {
.container {
max-width: 921px !important;
 padding-right: 15px !important;
 padding-left: 15px !important;
 margin-right: auto !important;
 margin-left: auto !important;
}
.search-icon1 {
    left: 248px !important;
    top: 15px;
    width: 3%;
}
.getstart_block {
bottom: 76px;
}
.makingSpecial_margin {
bottom: 75px;
}
.become_left {
bottom: -91px;
 margin-left: 0px;
 position: absolute;
}
.wannaGo_txt {
bottom: 160px;
}
.top_making {
 bottom: 47px;
}
.jar-txt {
 bottom: 70px;
}
.share_icons {
 width: 58%;
}
.banner-contened {
 bottom: 47px !important;
 font-size: 41px !important;
}
.banner_nav {
 left: 396px;
}
.jonneyFirst_name > span > ul > li {
margin-left:28px;
}
.jonneySecond_name > .col-md-6 > span {
margin-left:17px;
}
#tooltip {
margin-right: 51px;
}
.co4-width {
   
    width: 61% !important;
}
#cssmenu > ul > li > a {
    padding: 15px 14px !important;
}
#push{ display:none;}
#slide-menu{ display:none;}
.tooltip:before{left: -21px;}
.tooltip:after{left: -21px;}
}
 @media screen and (max-width:1024px) {
 .search-icon1 {
left: 243px !important;
    position: absolute;
    top: 16px;
	 width: 3%;
}
.makingSpecial_margin {
 bottom: 24px;
}
 .about_margin {
 bottom: 88px;
}
.getstart_block {
padding-top: 0;
bottom: 19px;
}
.top_making {
left:0px;
bottom: 2px;
}
.music-maker-fullcontened {
 bottom:61px;
}
.navigation_top {
float:none !important;
margin-right:0px !important;
}
.top-search {
    width: 46% !important;
}
.freq_topmargin {
bottom:102px;
}
#push{ display:none;}
#slide-menu{ display:none;}
}
/* Desktops and laptops ----------- */

@media only screen and (max-width : 980px) {
body {
overflow-x:hidden;
}
 .container {
max-width: 1170px !important;
 padding-right: 15px !important;
 padding-left: 15px !important;
 margin-right: auto !important;
 margin-left: auto !important;
}
 .img_firstBanner {
margin-right:0px !important;
}
.background-right > h1 {
padding-left: 123px;
}
.contctus_contened {
width:100% !important;
float:none;
}
.jar-txt {
width:100%;
margin:0 auto;
text-align:center;
}
.jar-txt > p {
width:100%;
text-align:center;
}
.MakeSpecial2_contened {
width:100%;
margin:0 auto;
text-align:center;
}
 .getstart_block {
width:100%;
text-align:center;
}
 .about_margin {
width:100%;
text-align:center;
}
h5 {
margin-top:0px !important;
margin-bottom:0px !important;
}
.top_making {
left:0px;
}
.makin_rightmarkin {
margin-right: 0px !important;
}
.music-maker-fullcontened {
}
p {
margin: 0 auto !important;
 width: 70%;
}
.width_contened > p {
 width: 72%;
}
.top_making {
 bottom: 74px;
}
.jar-txt > p {
 text-align: center;
 width: 56%;
}
.share_img {
margin:0 auto;
}
.share_icons {
 width: 17%;
}
.share_img {
 width: 31.9% !important;
}
.search-icon1 {
left: 580px !important;
 top: 14px;
 width: 2%;
display:none;
}
.licence_txt {
width:100%;
font-size:19px !important;
}
.licence_txt > p {
float: none;
 text-align: center;
}
.licence_txt > p+p {
float: none;
 text-align: center;
}
.co4-width {
    display: block;
    float: right !important;
    width: 57% !important;
}
#push{ display:none;}
#slide-menu{ display:none;}
.tooltip.colour {
    left: 472px;
}
.tooltip:before {
    left: 20px;
}
.tooltip:after {
    left: 20px;
}
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width : 800px) {
#cssmenu {
margin-left:0px !important;
background:#000;
margin-top:10px;
color:#FFF;
font-family:OpenSans-Light;
 font-weight:normal;
}

.col7-custome { padding:0px !important;}
.about_margin {
 padding-top: 122px;
}
p {
 font-size: 14.9px !important;
}
.music-maker-fullcontened {
 bottom: 10px;
}
.getstart_block {
 width: 97%;
}
.makingSpecial_margin {
 bottom: 77px;
}
.become_left {
 bottom: -158px;
}
 .wannaGo_txt {
 bottom: 59px;
}
.top_making {
 bottom: 7px;
}
.share_icons {
 width: 20%;
}
.banner-contened {
 bottom: 31px !important;
 font-size: 41px !important;
}
.banner_nav {
 bottom: 4px;
left: 354px;
}
.search-icon1 {
display:none;
}
.licence_txt {
width:100%;
font-size:19px !important;
}
.licence_txt > p {
text-align:center;
float:none;
}
.licence_txt > p+p {
text-align:center;
float:none;
}
.co4-width {
    width: 61% !important;
}

#tooltip{ display:none;}
#push{ display:block; float:right;}
#slide-menu{ display:block;}
.hello-txt{padding-left: 8px;}
}
@media only screen and (max-width : 768px) {
 .music-mackerIMG {
}
 p {
 font-size: 12.9px !important;
}
.share_icons {
 width: 21%;
}
.banner_nav {
 left: 320px;
}
.search-icon1 {
   left: 202px !important;
    top: 15px;
    width: 3%; display:block !important;
}
.licence_txt {
width:100%;
font-size:19px !important;
}
.licence_txt > p {
float: none;
 text-align: center;
 width: 100%;
font-size: 19px !important;
}
.co4-width {
    width: 63% !important;
}
}
@media only screen and (min-width : 400px) and (max-width:736px) {
 .navbar-form {
margin:0px !important;
box-shadow:none !important;
}
.search-icon {
display:none;
}
.search-icon1 {
display:none !important;
}
.about_margin > .Txt_white > h2 {
display:none;
}
.navbar-right {
display: block;
 margin: 0 auto;
 text-align: center;
 width: 100% !important;
}
.music-backTXT > h1 {
display:none;
}
.top-search {
float:left;
}
.music-backTXT {
margin-top:0px;
}
.music-mackerIMG {
padding-bottom:0px;
}
 .about_margin {
 bottom: 18px;
}
.getstart_block {
 bottom: 55px;
}
.get_none {
display:none;
}
.music-backTXT {
display:none;
}
.background-right {
display:none;
}
.freq_topmargin {
 bottom: 65px;
}
.width_contened {
padding-top:0px;
}
.become_left {
 bottom: -219px;
}
.wannaGo_txt {
 bottom: 15px;
}
.frqsStudio_txt > h2 {
display:none;
}
.jar-txt {
 bottom: 19px;
}
 .wannaGo_txt {
 padding-top: 0;
}
.join_txt {
display:none;
}
.wana_txt {
 font-size: 30px !important;
}
h2 {
 font-size: 30px !important;
}
h4 {
 font-size: 30px !important;
}
 p {
 font-size: 14px !important;
}
.frqsStudio_txt > p > span {
font-size:17px;
}
.frqsStudio_txt > p > span + span {
font-size:17px;
}
.footer_join {
width:100%;
margin:0 auto;
padding:0px;
display: block;
 float: none;
text-align:center;
}
.input-main {
width:100% !important;
}
.button-main {
 border-radius: 0 !important;
 float: right;
 height: 36px !important;
 margin-top: -41px;
 width: 80px !important;
}
.share_icons {
width: 24%;
}
.padding-less-first {
 width: 100% !important;
}
.share_img {
 width: 100% !important;
}
.share_icons > ul >li > a >img {
margin-left: 5px;
}
.banner_nav {
display:none;
}
.banner-contened {
bottom: 15px !important;
font-size: 27px !important;
}
#tooltip {
 margin-right: 0;
}
.navbar-form {
box-shadow:none !important;
}
.col1-custome{ width:100% !important; float:none;}
.main-img{ margin:0 auto;}
.co4-width{ width:100% !important; float:none !important;}
#slide-menu{ top:90px;}
}
@media only screen and (max-width : 568px) {
 .share_icons {
 width: 100%;
}
.sharsArtical_txt {
text-align:left !important;
}
.banner_nav {
display:none;
}
.banner-contened {
 bottom: 8px !important;
font-size: 27px !important;
}
.top-background {
padding-bottom:10px;
}
.navbar-form {
box-shadow:none !important;
}

}
@media only screen and (max-width : 480px) {
.music-maker-txt > p {
display:none;
}
.Txt_white>p {
display:none;
}
.about_us_img {
}
.getstarted_first {
}
.background_blue {
display:none;
}
.getstartcontened > p {
display:none;
}
.special_nav {
display:none;
}
.about_margin {
 bottom: 104px;
}
.getstart_block {
 bottom: 96px;
}
.wannaGo_txt {
width:100%;
bottom: 110px;
}
.jar-txt {
 bottom: 64px;
}
.top-background {
padding-bottom:0px;
}
.become_margin {
padding-top:0px;
}
.becomeAnArtist_contened {
}
.other_p {
display:none;
}
.wannaGo_contened {
}
.MakeSpecial2_contened > p {
display:none;
}
.become_left {
 bottom: -131px;
}
 .about_margin {
padding-top:0px;
}
.FaqStudio_contened {
}
.jar-txt > p {
display:none;
}
 .top-search {
width:100% !important;
float:none;
display:block;
margin-bottom:7px;
}
.search-icon1 {
 left: 424px !important;
 top: 17px;
 width: 3%;
}
.navbar-right {
margin-left:0px !important;
}
.banner_nav {
display:none;
}
.banner-contened {
 bottom: 4px !important;
 font-size: 27px !important;
}
#slide-menu {
    top: 119px;
}
}
@media only screen and (max-width :384px) {
.padding-less-first {
width:100% !important;
}
.share_img {
width:100% !important;
}
.share_icons > ul >li > a >img {
margin-left: 3px;
}
.navbar-form {
border-bottom: 1px solid hsla(0, 0%, 0%, 0);
 border-top: 1px solid hsla(0, 0%, 0%, 0);
 box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.1) inset, 0 1px 0 hsla(0, 0%, 100%, 0.1);
 margin: 8px 0 !important;
 padding: 0px !important;
}
.footer_join {
display: block;
 float: none;
 margin: 0 auto;
 text-align: center;
 width: 100%;
}
.button-main {
float: right;
 margin-top: -41px;
}
.search-icon {
display:none;
}
.search-icon1 {
display:none;
}
.navbar-left {
box-shadow: none !important;
}
.jonneySecond_name > .col-md-6 > a {
width:100% !important;
height: 29px !important;
}
.button_margin {
padding-left:0px !important;
}
.jonneySecond_name > .col-md-6 > span {
display: block;
 margin: 0 auto;
 text-align: center;
 width: 100%;
}
.input-main {
width:100% !important;
}
.banner_nav {
display:none;
}
.banner-contened {
 bottom: 1px !important;
 font-size: 27px !important;
}
.makingSpecial_margin {
bottom: 25px;
}
.jar-txt {
bottom: 22px;
}
.wannaGo_txt {
bottom: 17px;
}
.become_left {
bottom: -181px;
}
 .music-maker-fullcontened {
display:none;
}
 .about_margin {
bottom: 42px;
}
.freq_topmargin {
bottom: 31px;
}
	.col1-custome{ width:100% !important; float:none;}
.main-img{ margin:0 auto !important;}
.co4-width{ width:100% !important;}
.img-right{ width:10% !important;}
#slide-menu{ top:126px !important;}
}

@media only screen and (max-width :360px) {
.music-maker-fullcontened {
}
.music-backTXT {
display:none;
}
.background-right {
display:none;
}
.about_margin {
 bottom: 50px;
}
.getstart_block {
 bottom: 51px;
}
.makingSpecial_margin {
 bottom: 31px;
}
.become_left {
 bottom: -186px;
}
.wannaGo_txt {
 bottom: 47px;
}
.jar-txt {
 bottom: 136px;
}
.freq_topmargin {
 bottom: 30px;
}
.join_txt {
display:none;
}
.jar-txt {
 bottom: 17px;
}
.join-txt {
display: block;
 float:none;
 text-align: center;
}
.button-main {
 margin-left: 218px !important;
 margin-top: -69px;
 width: 80px !important;
}
.navbar-right {
margin-left:0px !important;
}
.search-icon1 {
left: 311px !important;
top: 19px;
display:block;
}
.padding-less-first {
 width: 100% !important;
}
.share_img {
 width: 100% !important;
}
.joinney_margin {
margin:0 auto;
float:none;
padding-right:0px !important;
}
.jonneyFirst_name {
display:block;
margin-top:0px;
}
.jonneyFirst_name > span {
text-align: center;
}
.jonneyFirst_name > span > ul > li {
margin-left:0px;
text-align:center;
}
.button_margin {
margin-top:0px;
}
.jonneySecond_name > .col-md-6 > span {
margin-left:0px;
float:none;
}
.jonneySecond_name > .col-md-6 > a {
float:none;
}
.jonneySecond_name > .col-md-6 > a+a {
float:none;
}
.img-first {
display: inline-block !important;
}
.button_margin {
padding-left:3px !important;
}
.button-main {
 margin-top: -41px !important;
}
.search-icon1 {
    display: block;
    left: 323px !important;
    top: 18px;
}
.banner_nav {
display:none;
}
.banner-contened {
 bottom: 3px !important;
 font-size: 21px !important;
}
.col1-custome{ width:100% !important; float:none !important;}
.main-img{ margin:0 auto;}
.co4-width{width:100% !important;}
.img-right{width: 10%}
}
@media only screen and (max-width :320px) {
 .search-icon1 {
 left: 286px !important;
 display:block;
}
.freq_topmargin {
 bottom: -2px;
}
.button_margin {
padding-left:0px !important;
}
.button-main {
margin-left: 180px !important;
}
.banner_nav {
display:none;
}

/* toggle */


}